//- div.wrapper
//- 	- const upDog = pets.toUpperCase();
//- 	p.hello Hello! dogs? #{upDog}
//- 	span#yo yep!
//- 	img.snoop-doggy-dogg(src="dog.jpg" alt=`Dog ${pets}`)

//- h2
//- 	| Hello 
//- 	em how are you..

extends layout

block content
	p hello
	h2 Sale end #{h.moment().endOf('day').fromNow()}

block footer
	p i slemm like farts